<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script type="text/javascript">
      jQuery(document).ready(function($) {
        $('#send').on('click',function(){
          var data = {
            'account': $('#ajax_account').val(),
            'pass': $('#ajax_pass').val()
          };
          $.post('/sign3', data ,function(data2) {
            $('#ajax').html(data2);
            console.log(data2);
          });
        });
      });

    </script>
    <style>
    .mbottom {
    margin-bottom: 10px;
    }

    </style>
  </head>
  <body class="jumbotron">
<center><h1 style="color:#2C3E50"><b>Patient details</b></h1></center>
<hr/>
    <form action="/sign2" method="POST" class="jumbotron" style="margin-top:-20px">
      <center>
      <table>
        <tr>
          <td><b>Blood sugar level(mg/dL):</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="mbottom" type="number" name="bloodsugarlevel" id="bloodsugarlevel"></td>

        </tr>
        <tr>
          <td><b>Blood count(trillion cells/L):</b>&nbsp;&nbsp;<input class="mbottom" type="number" name="bloodcount" id="bloodcount"></td>
        </tr>
        <tr>
          <td><b>Blood pressure(Upper limit):</b> <input class="mbottom" type="number" name="bloodpressureul" id="bloodpressureul"></td>
        </tr>
        <tr>
          <td><b>Blood pressure(Lower limit):</b> <input class="mbottom" type="number" name="bloodpressurell" id="bloodpressurell"></td>
        </tr>
        <tr>
          <td><b>Iron level(in percentage):</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="mbottom" type="number" name="ironlevel" id="ironlevel"></td>
        </tr>
        <tr>
          <td><b>Cholestrol level(mg/dL):</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="mbottom" type="cholestrol" name="cholestrol" id="cholestrol"></td>
        </tr>
        <tr>
          <td><b>Pulse rate(beats/min):</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <input class="mbottom" type="pulse" name="pulse" id="pulse"></td>
        </tr>
        <tr>
          <td><b>Body mass index(BMI):</b> &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;<input class="mbottom" type="bodymassindex" name="bodymassindex" id="bodymassindex"></td>
        
        </tr>

        <tr>

          <td><br/><input type="submit" value="Submit" class="btn btn-md btn-primary center-block"></td>
        </tr>
      </table>
      </center>
    </form>
  </body>
<!--   Blood sugar level
  blood count
  blood pressure
  Iron Level
  Cholestrol
  Pulse
  Body Mass Index -->
</html>
