<!DOCTYPE html>
<html>
  <head>
    <title>title</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <center>
    <h1 style="color:#0C7F7F;margin-top:-30px">Here is the QR code encoded with all your data.</h1>
    <hr/>
	    <p><img src="qr.svg" width="200px" height="200px"></p>
      <h2 style="color:#0C7F7F">Based on the analysis of your data, here is our crunched number for you.</h2>
      <h2  style="color:#31627B"><b><u>Health Percentage : <%= aditya %>%</u></b></h2>
      <h2 style="color:#0C7F7F">Areas to work upon : </h2>
      <div style="width: 15%;"><ul style="text-align: left">
      <% if(ad>25){ %>
        <li  style="color:#31627B">Blood sugar level</li>
        <% } %>
        <% if(bd>25){ %>
        <li  style="color:#31627B">Blood count</li>
        <% } %>
        <% if(cd>25){ %>
        <li  style="color:#31627B">Blood pressure</li>
        <% } %>
        <% if(dd>25){ %>
        <li  style="color:#31627B">Iron level</li>
        <% } %>
        <% if(ed>25){ %>
        <li  style="color:#31627B">Cholestrol</li>
        <% } %>
        <% if(fd>25){ %>
        <li  style="color:#31627B">Pulse</li>
        <% } %>
        <% if(gd>25){ %>
        <li  style="color:#31627B">BMI</li>
        <% } %>
      </ul></div>
      <hr/> 
      <h1 style="color:#31627B"><b><u>Graphical Analysis</u></b></h2>
	      <canvas id="c" width="1200" height="600"></canvas>
        </center>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>

<script>     var ctx = document.getElementById("c").getContext("2d");
    var data = {
      labels: ["Test 1", "Test 2", "Test 3", "Test 4", "Test 5", "Test 6", "Test 7"],
      datasets: [{
        label: "My First dataset",
        fillColor: "rgba(151,187,205,0.2)",
        strokeColor: "rgba(151,187,205,1)",
        pointColor: "rgba(151,187,205,1)",
        pointStrokeColor: "#fff",
        pointHighlightFill: "#fff",
        pointHighlightStroke: "rgba(220,220,220,1)",
        data: [76, 72, 85, <%= aditya %>]
      }]
    };
    var MyNewChart = new Chart(ctx).Line(data);
 </script>
  </body>
</html>
