<!DOCTYPE html>
<html>
  <head>
    <title>title</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1></h1>
	    <p><img src="qr.svg" width="200px" height="200px"></p>
  </body>
</html>
